name: Commit Checks
run-name: ${{ github.ref }} - Commit Checks

on:
  push:
    branches: main
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lib-build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: mlugg/setup-zig@v2
        with:
          version: 0.16.0-dev.1890+2bd02883c

      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Set Up PNPM
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Set Up NodeJS
        uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"

      - name: Install Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: ".bun-version"

      - name: Install Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version-file: ".dvmrc"

      - name: Test - CI
        run: |
          FORCE_COLOR=1 zig build test:ci --summary all

      - name: Test - Node
        run: |
          FORCE_COLOR=1 zig build test:node --summary all

      - name: Test - Bun
        run: |
          FORCE_COLOR=1 zig build test:bun --summary all

      - name: Test - Deno
        run: |
          FORCE_COLOR=1 zig build test:deno --summary all

  npm-example-test:
    runs-on: ubuntu-latest

    services:
      registry:
        image: verdaccio/verdaccio
        ports:
          - 4873:4873

    steps:
      - uses: mlugg/setup-zig@v2
        with:
          version: 0.16.0-dev.1890+2bd02883c

      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Set Up PNPM
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Set Up NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: "24"

      - name: Registry Login
        run: |
          cd examples/npm
          echo "" > .npmrc
          zig build registry:login

      - name: Test
        run: |
          cd examples/npm
          FORCE_COLOR=1 zig build e2e --summary all
